<!DOCTYPE html>
<html lang="ro">

<head>
    <title>ArtParlor - idk</title>
    <meta name="description"
        content="idk">
    <meta name="keywords"
        content="idk">
    <%- include('../Fragmente/head.ejs') %>
</head>

<body id="top">
    <%- include('../Fragmente/header.ejs') %>
    <main>
        A doua pagina a site-ului.
    </main>
    <%- include('../Fragmente/footer.ejs') %>
</body>

</html>