#efect-css-duotone {
	position: relative;
	background-image: url("/Resurse/Imagini/set-creioane.png");
	background-size: cover;
	width: 300px;
	height: 300px;
	filter: brightness(200%) grayscale(0);
	transition: all 2s linear;
	margin: 20px auto;
	border-radius: 15px;
	overflow: hidden;
}

#efect-css-duotone:after,
#efect-css-duotone:before {
	content: " ";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transition: all 2s linear;
}

#efect-css-duotone:after {
	background-color: rgb(0, 0, 255);
	mix-blend-mode: lighten; 
}

#efect-css-duotone:before {
	background-color: rgb(205, 0, 255);
	mix-blend-mode: darken;
}

#efect-css-duotone:hover:after {
	background-color: rgb(255, 165, 0);
}

#efect-css-duotone:hover:before {
	background-color: rgb(0, 128, 128);
}