    <footer id="contact">
        <p id="banner-scolar">Acesta este un proiect școlar!</p>
        <a href="#top" title="Înapoi spre antetul paginii web" id="link-top">
            <span id="triunghi">Începutul paginii</span>
        </a>
        <address style="margin-top: 20px; font-style: normal;">
            <strong>Informații de contact ArtParlor:</strong><br>
            Telefon: <a href="tel:+40712345678">0712 345 678</a><br>
            Email: <a href="mailto:contact@artparlor.ro">contact@artparlor.ro</a><br>
            Adresă: <a
                href="https://www.google.com/maps/search/?api=1&query=Facultatea+de+Matematica+si+Informatica+Bucuresti"
                target="_blank">
                Strada Creativității Nr. 42,<br>Sector 1, București
            </a><br>
            <a href="https://wa.me/40712345678" target="_blank">Contactează-ne pe WhatsApp</a>
            <div style="margin-top: 15px;">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8664156637373!2d26.101128!3d44.435876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff394149021d%3A0xc3c945143a598923!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1710543210000!5m2!1sro!2sro"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                    title="Harta locație Facultatea de Matematică și Informatică">
                </iframe>
            </div>
        </address>
        <p><small>Copyright &copy; ArtParlor <time datetime="2026-03-09">9 martie 2026</time></small></p>
    </footer>