    <header>
        <h1><i class="fa-solid fa-palette"></i> ArtParlor</h1>
        <img src="/Resurse/Imagini/sigla.png" alt="sigla ArtParlor" style="width:150px;" />
        <input type="checkbox" id="burger-checkbox">
        <label for="burger-checkbox" id="burger-meniu">
            <div id="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </label>
        <nav id="meniu-top">
            <ul>
                <li><a href="javascript:void(0)"><i class="fa-solid fa-house"></i> <span class="nav-text">Acasă</span></a>
                    <ul>
                        <li><a href="/index#welcome">Bine ați venit</a></li>
                        <li><a href="/index#promotii">Promoții</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)"><i class="fa-solid fa-paintbrush"></i> <span class="nav-text">Produse</span></a>
                    <ul>
                        <li><a href="/index#pictura">Pictură</a></li>
                        <li><a href="/index#desen">Desen</a></li>
                        <li><a href="/index#sculptura">Sculptură</a></li>

                    </ul>
                </li>

                <li><a href="javascript:void(0)"><i class="fa-solid fa-user"></i> <span class="nav-text">Contul Meu</span></a>
                    <ul>
                        <li><a href="javascript:void(0)">Înregistrare</a></li>
                        <li><a href="javascript:void(0)">Log In</a></li>
                    </ul>
                </li>
                <li><a href="/index#contact"><i class="fa-solid fa-envelope"></i> <span class="nav-text">Contact</span></a></li>
            </ul>
        </nav>
    </header>